<ion-view title="Заявка - ШАГ 1" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="1-button-bar5" class="button-bar">
      <button id="1-button34" style="font-weight:300;" class="button button-balanced  button-block icon ion-android-contact"></button>
      <a ui-sref="2" id="1-button35" class="button button-dark  button-block icon ion-settings"></a>
      <a ui-sref="3" id="1-button36" class="button button-dark  button-block icon ion-android-send"></a>
    </div>
    <form id="1-form1" class="list">
      <ion-item class="item-divider" id="1-list-item-divider1"> Контактные данные</ion-item>
      <label class="item item-input" id="1-input2">
        <span class="input-label">Ваше имя</span>
        <input type="text" placeholder="Виктор Андреев">
      </label>
      <label class="item item-input" id="1-input3">
        <span class="input-label">Телефон</span>
        <input type="tel" placeholder="8-952-000-00-00">
      </label>
      <ion-item class="item-divider" id="1-list-item-divider2"> Адрес замера</ion-item>
      <label class="item item-input" id="1-input4">
        <span class="input-label">Город</span>
        <input type="text" placeholder="Новосибирск">
      </label>
      <label class="item item-input" id="1-input5">
        <span class="input-label">Адрес</span>
        <input type="text" placeholder="Вилюйская, 15, 189">
      </label>
      <ion-item class="item-divider" id="1-list-item-divider3"> Дата и время замера</ion-item>
      <label class="item item-input" id="1-input6">
        <span class="input-label">Дата</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="1-input7">
        <span class="input-label">Время</span>
        <input type="time" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>