<ion-view title="Заявка - ШАГ 3" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="3-button-bar2" class="button-bar">
      <a ui-sref="1" id="3-button21" style="font-weight:300;font-size:21px;" class="button button-dark  button-block icon ion-android-contact"></a>
      <a ui-sref="2" id="3-button22" style="font-weight:300;font-size:21px;" class="button button-dark  button-block icon ion-settings"></a>
      <button id="3-button23" style="font-weight:300;font-size:20px;border-radius:3px 3px 3px 3px;" class="button button-balanced  button-block icon ion-android-send"></button>
    </div>
    <ion-list id="3-list6">
      <ion-item class="item-divider" id="3-list-item-divider8"> Выбор специалиста по замеру</ion-item>
      <ion-item class="item-thumbnail-left" id="3-list-item11">
        <img src="img/K2wQ96b3Rb6lMp3SWYlj_andreev.jpg">
        <h2>Виктор Андреев</h2>
        <p style="white-space:normal;">рейтинг: 4,8 из 5
          <br>Время приезда:
          <b>18:45</b>
          <br>
        </p>
        <p style="color:green; font-size:0.7em">специалист предложен системой</p>
        <p></p>
      </ion-item>
    </ion-list>
    <button id="3-button10" style="font-weight:300;font-size:15px;" class="button button-balanced button-small button-block">Выбрать специалиста самому</button>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <ion-list id="3-list7">
      <ion-item class="item-divider" id="3-list-item-divider9"> Дополнительная информация</ion-item>
      <label class="item item-input" id="3-textarea2">
        <span class="input-label"></span><textarea placeholder="Например: Доехать до 61 км, далее  навигация по телефону"></textarea></label>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <a ui-sref="menu.page1" id="3-button17" style="font-weight:300;font-size:21px;" class="button button-balanced  button-block">Оформить заявку</a>
  </ion-content>
</ion-view>