<ion-view title="Мои заказы" hide-back-button="true" id="page1">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-add"> Новый</button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-list id="page1-list8">
      <ion-item class="dark" id="page1-list-item19">
        <label>Адрес: Вертковская, 15-189</label>
        <br>
        <label>Время: 01.03.2017 в 14:45</label>
        <span class="item-note">
          <label style="font-size:0.7em;color:green">Назначен</label>
        </span>
        <ion-option-button class="button-positive">Инфо</ion-option-button>
        <ion-option-button class="button-assertive">Удалить</ion-option-button>
      </ion-item>
      <ion-item class="dark" id="page1-list-item12">
        <label>Адрес: Вавилова, 11-19</label>
        <br>
        <label>Время: 01.04.2017 в 14:45</label>
        <span class="item-note">
          <label style="font-size:0.7em;color:green">Назначен</label>
        </span>
        <ion-option-button class="button-positive">Инфо</ion-option-button>
        <ion-option-button class="button-assertive">Удалить</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>