<ion-view title="Регистрация" hide-nav-bar="true" id="page8" style="background-color:#111C24;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="page8-form5" class="list center_form">
      <div id="page8-markdown2" class="show-list-numbers-and-dots error_box">
        <p style="color:#FFFFFF;">{{error}}</p>
      </div>
      <div>
        <img src="img/fYgTOaXfSk2JTQXnRAHI_l_logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <ion-list id="page8-list11">
        <label class="item item-input" id="page8-input14">
          <span class="input-label">Логин</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page8-input16">
          <span class="input-label">Имя</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page8-input17">
          <span class="input-label">Телефон</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page8-input15">
          <span class="input-label">Пароль</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <a ui-sref="menu.page1" id="page8-button14" style="font-weight:300;font-size:21px;" class="button button-balanced  button-block">Войти</a>
      <a ui-sref="page6" id="page8-button15" style="font-weight:300;font-size:16px;" class="button button-light  button-block button-clear">Уже зарегистированы? Войти</a>
    </form>
  </ion-content>
</ion-view>