<ion-view title="Вход в систему" hide-nav-bar="true" id="page6" style="background-color:#111C24;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="page6-form3" class="list center_form">
      <div id="page6-markdown1" class="show-list-numbers-and-dots error_box">
        <p style="color:#FFFFFF;">{{error}}</p>
      </div>
      <div>
        <img src="img/fYgTOaXfSk2JTQXnRAHI_l_logo.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 37px;"></div>
      <ion-list id="page6-list9">
        <label class="item item-input" id="page6-input9">
          <span class="input-label">Логин</span>
          <input type="text" placeholder="Ваш логин">
        </label>
        <label class="item item-input" id="page6-input10">
          <span class="input-label">Пароль</span>
          <input type="password" placeholder="Ваш пароль">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 37px;"></div>
      <a ui-sref="menu.page1" id="page6-button11" style="font-weight:300;font-size:21px;" class="button button-balanced  button-block">Войти</a>
      <a ui-sref="page8" id="page6-button12" style="font-weight:300;font-size:16px;" class="button button-light  button-block button-clear">Не зарегистророваны? Регистрация</a>
    </form>
  </ion-content>
</ion-view>