<ion-view title="Wellcome" hide-nav-bar="true" nav-transition="none" id="page9">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="wellcome-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="wellcome-slide24" style="background-color:#216DDF;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/IN6oekCnQJGen3biH2kD_4_676Q6s8.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h1 id="wellcome-heading3" style="color:#FFFFFF;font-weight:300;text-align:center;">Вызов замерщика</h1>
              <div id="wellcome-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:17px;">Вызывайте специалиста
                  <strong>без звонков</strong> выбрав удобные Вам дату и время</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="wellcome-slide21" style="background-color:#F8023D;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/hesdTQ6SEWv0WRHm0jVP_6_owF51ff.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h2 id="wellcome-heading4" style="color:#FFFFFF;font-weight:300;text-align:center;">Выбор специалиста</h2>
              <div id="wellcome-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:17px;">Выбирайте специалиста
                  <strong>сами</strong> по рейтингу и просто фотографии</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="wellcome-slide22" style="background-color:#DB4BDB;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/Mi8IUFg1TQGZlAwx7Bzp_6_UJEMGOn.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <h2 id="wellcome-heading5" style="color:#FFFFFF;font-weight:300;text-align:center;">Зарабатывай с нами</h2>
              <div id="wellcome-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;font-size:17px;">Приглашай друзей в приложение и получай бонус и
                  <strong>реальные деньги</strong> стань
                  <strong>агентом Динал</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="wellcome-slide27" style="background-color:#FFFFFF;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/n4M5m7XnQN2GFCd7nf9t_logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 320px; height: 52px;"></div>
              <a ui-sref="menu.page1" id="wellcome-button13" style="font-size:25px;" class="button button-balanced  button-block">Начать</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>